@import "font.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "../../node_modules/leaflet/dist/leaflet.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 본문 스타일 */
html {
  font-size: 10px;
}

body {
  font-family: "Comfortaa", "Noto Sans SC", "Nanum Gothic", sans-serif !important;
  font-size: 10px;
  color: #424848;
  background-color: white;
  font-weight: 100;
}

/* 링크 스타일 */
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #0896d9;
}

/* 숨김 콘텐츠 */
/* 크로스 브라우징에 필요하여 다양한 경우를 고려해서 없애야 함 line-height, font 사이즈 변경등의 옵션도 줘야할 경우가 있다 */
.readable-hidden,
.a11y,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

/* 건너뛰기 링크 */
.a11y:focus {
  top: 5px;
  left: 50%;
  /*부모의 50%의 값을 가짐*/
  width: auto;
  height: auto;
  margin: 0;
  clip: rect(auto, auto, auto, auto);
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  transform: translateX(-50%);
  /*자신의 크기 절반만큼 왼쪽으로 이동*/
  z-index: 10;
}

.ui.dimmer {
  background-color: rgba(67, 73, 73, 0.6) !important;
}
.ui.dimmer > .content {
  color: #000 !important;
}
.slick-slider.slick-initialized {
  width: 100vw;
  height: auto;
}

.pushable {
  z-index: 10 !important;
}

@-webkit-keyframes colors {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@-moz-keyframes colors {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes colors {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
